*{
    margin: 0;
    padding: 0;
}


.root{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}


.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #E5E5E591;
    align-items: center;
}

.navbar-left, .navbar-right{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
}

.header{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
    
}

.header-left{
    /* width: 100%; */
    /* background-color: yellow; */
    margin-left: 20px;
}

.header-right{
    /* background-color: #1B2F68; */
    margin-right: 20px;
}

.header-left, .header-right{
    padding: 10px;
    display: flex;
    gap: 20px;
}




.header-right button{
    height: fit-content;
    padding: 5px;
    color: #F58216;
    background-color:white;
    border: 2px solid #F58216;
    border-radius: 5px;
}

.header-left img{
    /* width: 100%; */
    /* height: auto; */
}



.footer{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-left: 20px;
    margin-right: 20px;
}

.footer-1{
   
    
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.footer-2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1B2F68;
    color: white;
    font-size: small;
    font-weight: 200;
}

.f-2-part-2{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


.title-container{
    width: 100%;
    /* height: 100vh; */
    background-image: url("./assets/main-image.png");
    background-repeat: no-repeat;
    background-size:contain;
    
}



.title{
    margin-top: 100px;
    font-weight:100;
    font-size: 4rem;
    color: white;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

.pm-statement{

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    background-color: white; 
    border-radius: 20px;
    margin: 50px;
    padding: 20px; 
}

.statement{
    margin-left:300px;
    padding: 20px;
    background-image: url("./assets/quotation-mark.svg");
    
    background-repeat: no-repeat;
    background-position: 1000px 10px;
    position: relative;
}


.statement .quote-1{
    position: absolute;
    left: -35px;
    top: 10px;
}

.statement .quote-2{
    position: absolute;
    transform: rotate(180deg);
    top: 55px;
    left: 135px;
}

.statement h3{
    color: #F58216;
}

.statement p{
    color: gray;
}


.pm-statement img{
    padding-left: 20px;
    position: absolute;
    left: 10px;
    top: -38px;
}

.schemes-container{
    margin-top: -175px;
    padding-top: 100px;
    width: 100%;
    background-color: #1B2F68;
    color: white;
    padding-bottom: 50px;
}

.schemes-container h1{
    padding: 20px;
    margin-left: 20px;
    margin-top: 50px;
}



.schemes{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 20px;
}

.schemes img{

    width: 500px;
    background-color: white;
    /* border: 2px solid white; */
    border-radius: 20px;

}

.scheme{
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;

}

.scheme h3{
    width: 100%;
    /* height: 100px; */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    top: 300px;
}


.reporting-module-container{
    width: 100%;
    background-color: #B5B5B559;
    padding: 20px;
    padding-bottom: 50px;

}

.reporting-module-container h1{
    padding: 20px;
    margin-left: 20px;

}



.reporting-module{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.reporting-module img{

    width: 250px;
    height: 250px;
    border-radius: 10px;
}


.module-element{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    border-radius: 10px;
}

.module-element p{
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    top: 202px;

}




.other-module-container{
    width: 100%;
    background-color: #F6F4F4;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.press-release{
    flex: 1;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}

.media-gallery{
    flex: 1;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
}

.media-gallery-title{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: relative;

}

.gallery-title-buttons{
    display: flex;
    gap: 5px;
    position: absolute;
    left: 780px;
    color: #F58216;
}


.gallery{
    display: flex;
    gap: 20px;
}

.gallery-item{
    position: relative;
}

.gallery-item .magnifier{
    position: absolute;
    top: 100px;
    left: 150px;
}

.gallery-item .youtube{
    position: absolute;
    top: 140px;
    left: 180px;
}

.gallery-item p{
    color: white;
    position: absolute;
    top: 310px;
    left: 10px;
}

.press-release-title{
    margin-top: 5px;
    margin-bottom: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: relative;
}

.press-title-buttons{
    display: flex;
    gap: 5px;
    position: absolute;
    left: 730px;
    color: #F58216;
}

.press-item-title{
    display: flex;
    gap: 5px;
    color: #F58216;
}

.press-item-body{
    display: flex;
    justify-content: space-between;
}